/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
/* general */
:root {
	--color-scondary: #ffffff;
	--color-primary: #23272a;
	--color-header-bg: #255ee9;
	--color-section-bg: #f6f6f6;
	--color-contrast: #aebbe7;
}
body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2em;
    background-color: var(--color-scondary);  

}
/* header */
header {
        background-image: url(../img/jumbo.png);
        min-height: 8px;
        background-size: cover;
    }
    
.plug {
    border: 2px solid red;
}
 header ul>li, a {
    font-size: 14px;
    padding: 2%;
    color: var(--color-scondary);
 }
 header> nav {
    padding-bottom: 10px;
 }
 h1 {
    padding-bottom: 3%;
    font-weight:bolder;
 }
/* main */
h1>p, h1, h2 {
    padding-bottom: 10px;
}
.section-bg {
    background-color: var(--color-section-bg);
}
.btn-white {
    background-color: var(--color-scondary);
    color: var(--color-primary);
}
.btn-black {
    background-color: var(--color-primary);
    color: var(--color-scondary);
}
.btn-contrast {
    background-color: var(--color-contrast);
}
#tecnology img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.stars {
    background-image: url(../img/stars.svg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
/* footer */
footer{
    background-color: var(--color-primary);
    color: var(--color-scondary);
}
.footer-top {
    border-bottom: 1px solid var(--color-contrast);
}
h3 {
    color: var(--color-contrast);
    font-weight: bolder;
    padding: 20px;
}
#flag {
    width: 50px;
    height: 25px;
    padding-right: 10px;
}
#icon {
    padding-top: 20px;
}
/* utility */
.d-padding {
    padding: 20px;
}
.font-secondary {
    color: var(--color-scondary);
}
.container {
    max-width: 80%;
    margin: 0 auto;
}
.small-container {
    max-width: 1200px;
    margin: 2% auto;
    text-align: center;
}
.font-bolder {
    font-weight: bolder;
}
a {
    font-size: 12px;
    font-weight: bolder;
    text-decoration: none;
}
a:hover:not(.button) {
    text-decoration: underline;
}
.button {
    display: inline-block;
    padding: 6px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}
.button:hover {
    box-shadow: 5px 5px 5px rgb(70, 70, 70);
} 
.container-60 {
    width: 60%;
}
.container-40 {
    width: 40%;
}
.container-60  img {
    width: 100%;
}
.container-40  h2 {
    width: 100%;
}
.container-section {
    max-width: 100%;
    padding: 20px;
}
/* flex utility */
.d-flex {
    display: flex;
}
.wrapper {
    flex-wrap: wrap;
}
.space-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.flex-reverse {
    flex-direction: row-reverse;
}