/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
/* general */
:root {
	--color-scondary: #ffffff;
	--color-primary: #23272a;
	--color-header-bg: #255ee9;
	--color-section-bg: #f6f6f6;
	--color-contrast: #aebbe7;
}
body {
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--color-scondary);   
}
/* header */
header {
    background-image: url(../img/jumbo.png);
    min-height: 8px;
}

.plug {
    border: 2px solid red;
}
 header ul>li, a {
    font-size: 10%;
    padding: 2%;
    color: var(--color-scondary);
 }
 header> nav {
    padding-bottom: 10px;
 }
 h1 {
    padding-bottom: 3%;
    font-weight:bolder;
 }

/* main */
.section-bg {
    background-color: var(--color-section-bg);
}


/* footer */
footer{
    background-color: var(--color-primary);
    color: var(--color-scondary);
}
/* utility */
.d-padding {
    padding: 20px;
}
.font-secondary {
    color: var(--color-scondary);
}
.container {
    max-width: 80%;
    margin: 0 auto;
}
.small-container {
    max-width: 60%;
    margin: 2% auto;
}
.center-text {
    text-align: center;
}
.button {
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}
.btn-white {
    background-color: var(--color-scondary);
    color: var(--color-primary);
}
.btn-black {
    background-color: var(--color-primary);
    color: var(--color-scondary);
}
/* flex utility */
.d-flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-content: center;
}