/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
/* general */
:root {
	--color-scondary: #ffffff;
	--color-primary: #23272a;
	--color-header-bg: #255ee9;
	--color-section-bg: #f6f6f6;
	--color-contrast: #aebbe7;
}
body {
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--color-scondary);  

}
/* header */
header {
        background-image: url(../img/jumbo.png);
       height: 550px;
        background-size: cover;
    }
 header ul>li, a {
    font-size: 14px;
    padding-right: 8px;
    color: var(--color-scondary);
 }
 header> nav {
    padding-bottom: 10px;
 }
 h1 {
    padding-bottom: 20px;
    font-weight:bolder;
 }
/* main */
h1>p, h1, h2 {
    padding-bottom: 20px;
}
.wave {
    background-image: url(../img/wave.svg);
    height: 100px;
    opacity: 0.04;
}
.upside-down {
    transform: rotate(180deg);;
}
.grey-highlight {
    background-color: var(--color-section-bg);
}
.btn-white {
    background-color: var(--color-scondary);
    color: var(--color-primary);
}
.btn-black {
    background-color: var(--color-primary);
    color: var(--color-scondary);
}
.btn-contrast {
    background-color: var(--color-contrast);
}
#tecnology img {
    width: 100%;
    background-position: top center;
    text-align: center;
}
.text-center {
    text-align: center;
}
.stars {
    background-image: url(../img/stars.svg);
    background-position: top center;
    background-repeat: no-repeat;
}
/* footer */
footer{
    background-color: var(--color-primary);
    color: var(--color-scondary);
}
.footer-top {
    border-bottom: 1px solid var(--color-contrast);
}
h3 {
    color: var(--color-contrast);
    font-weight: bolder;
}
#flag {
    width: 50px;
    height: 25px;
    padding-right: 10px;
    }
.top-margin {
    margin-top: 20px;
}
footer ul li {
    text-align: start;
    line-height: 40px;
}
/* utility */
.m-bottom {
    margin-bottom: 20px;
}
.m-top {
    margin-top: 28px;
}
.m-50 {
    margin-top: 50px;
}
.font-secondary {
    color: var(--color-scondary);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.small-container {
    max-width: 700px;
    margin: 2% auto;
    text-align: center;
}
a {
    font-size: 12px;
    font-weight: bolder;
    text-decoration: none;
}
a:hover:not(.button) {
    text-decoration: underline;
}
.button {
    display: inline-block;
    padding: 5px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}
.button:hover {
    box-shadow: 5px 5px 5px rgb(70, 70, 70);
} 
.container-60 {
    width: 60%;
}
.container-40 {
    width: 40%;
    margin-left: 20px;
}
.container-60  img {
    width: 100%;
}
.container-40  h2 {
    width: 100%;
}
.container-section {
    max-width: 100%;
    padding: 20px;
}
/* flex utility */
.d-flex {
    display: flex;
}
.wrapper {
    flex-wrap: wrap;
}
.space-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.flex-reverse {
    flex-direction: row-reverse;
}
